body{
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#0000ff, 10%, #ffc0cb);
    text-align: center;
}
#container{
    max-width: 600px;
    margin: 0 auto;
}

#question{
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

#answers{
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}